* {
  box-sizing: border-box;
}

nav {
  display: block;
}

h1 {
  margin-bottom: 0.5rem;
  font-size: 4.4rem;
  padding-right: 100px;
  color: #6c6c6c;
  margin-top: 0;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "Playfair Display", Times, serif;
  font-weight: 400;
  line-height: 72px;
}

h2 {
  font-size: 4.4rem;
  padding-right: 100px;
  color: #46494f;
  margin-top: 0;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "Playfair Display", Times, serif;
  font-weight: 400;
  line-height: 50px;
}

p {
  margin: 20px 0;
  font-size: 1.5rem;
  display: block;
  color: #46494f;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "Playfair Display", Times, serif;
  font-weight: 400;
}

li {
  text-align: -webkit-match-parent;
  display: inline-block;
  margin-left: 18px;
}

li a {
  position: relative;
  display: inline-block;
  padding: 0px;
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 700;
  margin-left: 18px;
  text-transform: uppercase;
  background-color: transparent;
}

header {
  position: relative;
}

li:first-child {
  margin-left: 0;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
  text-align: right;
  margin-top: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.container {
  max-width: 1105px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.rowNav {
  position: relative;
}

.home-button {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.navButtons {
  display: block !important;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  text-align: right;
}

.headerIndex {
  height: auto;
  min-height: 100vh;
  z-index: 2;
}

.headerContent {
  position: relative;
  padding-bottom: 50px;
  min-height: inherit;
}

.rowHeaderInfo {
  min-height: inherit;
}

.colHeaderInfo {
  padding: 30px 0;
  min-height: inherit;
  display: flex;
  align-items: center;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
  position: relative;
  width: 100%;
}

.backgroundPic {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: block !important;
}

.img {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  position: relative;
}

.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}

.message {
  display: block !important;
}

.arrowDown {
  text-align: center;
  position: absolute;
  display: block !important;
  z-index: 10;
  bottom: 20px;
  left: 0;
  height: 60px;
  width: 100%;
}

.aboutSection {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #a9bbc2;
}

.aboutInfo {
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 15px;
  padding-left: 15px;
}

.darker {
  color: #131719;
}

.myHead {
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 15px;
  padding-left: 15px;
}

.educationInfo {
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 15px;
  padding-left: 15px;
}

.educationPic {
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 15px;
  padding-left: 15px;
}

small {
  display: block;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
}

.skillsSection {
  background-color: #e1f2f5;
  padding-bottom: 80px;
}

.skillsTitle {
  text-align: center !important;
  padding-right: 0;
  margin-bottom: 50px;
  flex: 0 0 100%;
  max-width: 100%;
  font-size: 3.8rem;
  color: #292929;
}

.head2 {
  margin-bottom: 0;
}

.quad {
  text-align: center !important;
}

.python {
  flex: 0 0 25%;
  max-width: 25%;
}

.java {
  flex: 0 0 25%;
  max-width: 25%;
}

.cplus {
  flex: 0 0 25%;
  max-width: 25%;
}

.sql {
  flex: 0 0 25%;
  max-width: 25%;
}

h3 {
  text-align: center;
  font-size: 2.4rem;
  font-family: "Playfair Display", Times, serif;
  font-weight: 500;
  color: #292929;
  margin-top: 0;
  margin-bottom: 15px;
}

.quad {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
}

.projectsHeader {
  background-color: #99aabf;
  padding-top: 66.5px;
  min-height: 100vh;
}

.projectsTitle {
  text-align: center !important;
  padding-right: 0;
  margin-bottom: 50px;
  flex: 0 0 100%;
  max-width: 100%;
  font-size: 3.8rem;
  color: #292929;
  font-weight: 500;
}

.projectsTitle h2 {
  box-shadow: black;
}
