* {
  box-sizing: border-box;
}

nav {
  display: block;
}

div {
  background-color: #f0eee5;
}

li {
  text-align: -webkit-match-parent;
  display: inline-block;
  margin-left: 18px;
}

li a {
  position: relative;
  display: inline-block;
  padding: 0px;
  color: #6c6c6c;
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 700;
  margin-left: 18px;
  text-transform: uppercase;
  background-color: transparent;
}

header {
  position: relative;
}

li:first-child {
  margin-left: 0;
}

.container {
  max-width: 1105px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.rowNav {
  position: relative;
}

.home-button {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.navButtons {
  display: block !important;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  text-align: right;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
  text-align: right;
  margin-top: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

hr {
  margin: 0;
}

.headerIndex {
  height: auto;
  min-height: 100vh;
}

.headerContent {
  position: relative;
  padding: 50px 0;
  min-height: inherit;
}
